# Dependencies
node_modules
/.pnp
.pnp.*

# Next.js build outputs
**/.next/
**/out/
**/build/
pixell/deploy-cpanel/
deploy-cpanel/

# Environment variables
.env*
!.env.example

# Debug and caches
*.log
.DS_Store
*.tsbuildinfo
next-env.d.ts

# Temporary / uploads cache if any
*.pem
